      </main>
    </div>
    <footer class="mt-4 text-center">
      <p>© 2025 Coding Assignment Tracker. All rights reserved.</p>
    </footer>
  </div>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>