<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Assignment Tracker</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 sidebar">
        <h3>Developer</h3>
        <p>GitHub: <a href="https://github.com/{{githubUsername}}" target="_blank">{{githubUsername}}</a></p>
        {{#if user}}
          <p>Welcome, {{user.username}}!</p>
          <nav>
            <a href="/dashboard" class="btn btn-outline-light btn-sm">Dashboard</a>
            <a href="/calendar" class="btn btn-outline-light btn-sm">Calendar</a>
            <a href="/logout" class="btn btn-outline-light btn-sm">Logout</a>
          </nav>
        {{else}}
          <div>
            <a href="/login" class="btn btn-outline-light btn-sm">Login</a>
            <a href="/register" class="btn btn-outline-light btn-sm">Register</a>
          </div>
        {{/if}}
        {{#unless dbConnected}}
          <p class="error mt-3">Database offline - limited functionality</p>
        {{/unless}}
      </nav>
      <main class="col-md-9 col-lg-10 content">